body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('pexels-maxyne-barcel-10402282\ 1\ \(1\).png') no-repeat center center fixed; 
    background-size: cover;
    color: #f1c40f;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f1c40f;
    font-weight: bold;
}

.order-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.content h1 {
    font-size: 48px;
    margin: 0;
}

.menu-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.scroll-down {
    position: absolute;
    bottom: 0px;
    right: 0px;
 }